@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@layer base {
    body {
        @apply font-[Poppins];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

@layer components {
    .sidebar-icon {
        @apply relative flex items-center justify-center 
            ml-[10px] hover:ml-[12px] hover:w-36
            h-12 w-12 mt-6 mb-2 mx-auto shadow-lg
            bg-[#3F3FFF] text-[#FFFFFF] 
            hover:bg-[#a6a6ff] 
            rounded-3xl hover:rounded-xl 
            duration-200 transition-all ease-linear
            cursor-pointer;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)
    )!important;
}