@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply font-[Poppins];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

@layer components {
    .sidebar-icon {
        @apply relative flex items-center justify-center 
            ml-[10px] hover:ml-[12px] hover:w-36
            h-12 w-12 mt-6 mb-2 mx-auto shadow-lg
            bg-[#3F3FFF] text-[#FFFFFF] 
            hover:bg-[#a6a6ff] 
            rounded-3xl hover:rounded-xl 
            duration-200 transition-all ease-linear
            cursor-pointer;
    }
    .skills-grid {
        @apply shadow-2xl shadow-[#060416]
            rounded-lg bg-[rgba(63,63,255,0.08)]
            border-t-[rgba(126,97,255,0.08)] border-t-2
            border-l-[rgba(126,97,255,0.08)] border-l-2
            backdrop-blur-sm 
    }
}

.tilt {
    transform-style: preserve-3d
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(	63, 63, 255, 0.4),
        hsla(242, 74%, 61%, 0.55)
    )!important;
}